parameters:
  level: 5
  bootstrapFiles:
    - ../../.github/workflows/phpstan/autoload.php
    - ../../vendor/prestashop/prestashop/autoload.php
  paths:
    - ../../controllers
    - ../../mock
    - ../../tests
    - ../../translations
    - ../../upgrade
    - ../../views
    - ../../src
  excludePaths:
    - ../../ci
    - ../../.github
    - ../../sql
  ignoreErrors:
    - '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\:\:#'
    - '#^Unsafe usage of new static\(\)\.$#'
    - '#^Constructor of class PrestaShopBundle\\Service\\DataProvider\\Marketplace\\ApiClient has an unused parameter \$toolsAdapter\.$#'
    - '#constructor expects Symfony\\Contracts\\Translation\\TranslatorInterface\|null, Symfony\\Component\\Translation\\TranslatorInterface given\.$#'
    - '#^Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface\:\:dispatch\(\) invoked with 2 parameters, 1 required\.$#'
    - '~^Access to an undefined property PrestaShop\\PrestaShop\\Core\\Addon\\Module\\ModuleInterface::\$(attributes|disk|database)\.$~'
    - '#^Instantiated class Carrier not found\.$#'
    - '#^Access to an undefined property\.$#'
    - '#^Call to an undefined method\.$#'
    ## Smarty functions
    - '#^Function smartyRegisterFunction not found\.$#'
  reportUnmatchedIgnoredErrors: false
  universalObjectCratesClasses:
    - Cookie
    - ObjectModel
    - Order
    - OrderInvoice
    - Product
